{% extends 'base.html.twig' %}

{% form_theme formActivity 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"> {{ form_start(formActivity)}}
                {{ form_row(formActivity.title, { 'label': 'Titre de l\'activité' }) }}
                {{ form_row(formActivity.description, { 'label': 'Description' })  }}
                {{ form_row(formActivity.note, { 'label': 'Note', 'attr': {'class': 'foo'} } )  }}
                {{ form_row(formActivity.category, { 'label': 'Choisissez une categorie' })  }}

                <ul class="pictures" data-prototype="{{ form_widget(formActivity.pictures.vars.prototype)|e('html_attr') }}">
                      
                    </ul>
                {{ form_end(formActivity)}}
        </div>
        <div class="col-2"></div>

    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
       
        var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter une image</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        
        
        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
           var $collectionHolder = $('ul.pictures');
            
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                
                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });
            
            
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            
            // get the new index
            var index = $collectionHolder.data('index');
            
            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            
            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-tag">x</a>');
            
            $newLinkLi.before($newFormLi);
            
            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();
                
                $(this).parent().remove();
                
                return false;
            });
        }</script>
{% endblock %}
   

