{% extends 'base.html.twig' %}

 {% block body %}
 <div class="container">
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
                <h3>{{activity.title}}</h3>
                {{ activity.category.title}}
                <p>{{activity.description}}</p>

                <p> {% for picture in activity.pictures %}
                        <p> <img src="{{ asset('uploads/pictures/' ~ picture.url) }}" alt="">  </p>
                        <p> {{ picture.legende }} </p>
                        <hr>
                {% endfor %} </p>
         </div>
         <div class="col-md-1"></div>
     </div>
   <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
           
            {% include 'comment/create_comment.html.twig' %}
        </div>
        <div class="col-md-3"></div>
    </div>
<br>
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p> {% for comment in comments %}
                            <p> <b> {{comment.author}} </b> <i>{{comment.createdAt|date('d-m-Y')}}</i></p>
                            <p> {{ comment.msg }} </p>
                            <hr>
                    {% endfor %} </p>
                    <div class="navigation">
                            {{ knp_pagination_render(comments) }}
                        </div>
                </div>
                <div class="col-md-3"></div>
        </div>

   
   

</div>
 {% endblock %}
 