{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-7">
            <br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for picture in activity.pictures %}
                        <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                            <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ picture.url) }}" alt="{{picture.legende}}">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <h3 style="text-align:center;">{{activity.title}}</h3>
            <p style="text-align:center;">Dans la catégorie
                <span class="label_category">{{ activity.category.title}}
                </span>
                Ecrit par : Le :
                <i>{{activity.createdAt|date('d-m-Y')}}</i>
            </p>
            <p>{{activity.description |raw}}</p>

        </div>
        <div class="col-3">
            <br><br>
            <div class="user_block">
                sdfghugkyjfthdrgefz
                <br>zretr
                <br>
                rgfe
                <br><br><br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">

            {% include 'comment/create_comment.html.twig' %}
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
                        {% for comment in comments %}
            <div class="comment-wrap">
                <div class="photo">{{comment.author}}
                    <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                </div>
                <div class="comment-block">
                    <p class="comment-text">{{ comment.msg }}</p>
                    <div class="bottom-comment">
                        <div class="comment-date">{{comment.createdAt|date('d-m-Y')}}</div>
                        <ul class="comment-actions">
                            <li class="complain">Complain</li>
                            <li class="reply">Reply</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}