{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-md-2">
        <a href="{{path ('show_category', {'id' : category.id })}}">{{ category.title }}</a>
        <p>{{ category.description }}</p>
        </div>
        {% endfor %}
      </div>
   </div>
    <div class="row">
            {% for activity in activities %}
            <div class="col-md-4">              
          <h3> <a href="{{path ('show_activity', {'id' : activity.id })}}">{{ activity.title }}</a> </h3> 
           <p> {{ activity.description }}</p>
        <p> Note :  {{ activity.note }}</p>
          <p>Dans la catégorie  {{ activity.category.title }}</p>
        </div>
        {% endfor %}
        
       
    </div>
</div>


{% endblock %}